header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header .logo {
    background: url('../images/logo.png') no-repeat;
    position: relative;
    left: 20px;
    align-items: center;
    height: 100%;
}