.container .filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 10px 30px 10px 0;
}

.filters button:hover {
    opacity: 0.9;
}